/* --- --- GENERAL STYLES --- --- */

:root {
    font-size: 62.5%;
    /* 1rem = 10px */
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-size: 1.6rem;
  }

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    /* Prevent images from stretching more than their actual size */
  }



  /* --- --- PROJECT STYLES --- --- */













  /* --- --- MEDIA QUERIES --- --- */



  @media screen and (min-width: 320px) {

  }

  @media screen and (min-width: 820px) {

  }

  @media screen and (min-width: 1920px) {

  }